In [2]:
import pandas as pd
df = pd.read_csv("pre_processed_data.csv")

In [3]:
df

                                                   0    1
0  evaluation tcm technegas ventilation scintigra...  C08
1  cardiorespiratory effects pressure controlled ...  C08
2  gastrointestinal disease oral contraception or...  C06
3  fat saturation mr imaging upper abdomen fat sa...  C06
4  isolation physicochemical characterization pre...  C01
5  new method evaluate capd catheter exit percuta...  C01
6  dentist dilemma nonsurgical endodontic therapy...  C07
7  osteomyelitis mandible result sickle cell dise...  C07
8  anterior inferior cerebellar artery internal a...  C09
9  scanning electron microscopic study nasopharyn...  C09

In [8]:
df = pd.read_csv("new.txt", sep=' ',header=None)

In [9]:
df

,0,1,2,3,4,5,6,7,8,9,...,42,43,44,45,46,47,48,49,50,51
0,"0,</s>",0.008005,0.008839,-0.007661,-0.006556,0.002733,0.006042,0.001882,0.000423,-0.007207,...,-0.008014,0.009109,0.000126,-0.005165,-0.006084,-0.006153,0.003394,0.000403,0.002662,NaN
1,"1,patients",-0.487951,1.691632,3.338713,-1.053598,1.189507,0.108303,2.518332,-1.343565,-0.235609,...,-1.973258,1.482375,-1.478409,1.230824,2.083414,-1.936450,-0.342627,0.560907,-1.935164,NaN
2,"2,p",-7.501344,0.699352,-2.065420,0.938354,3.290108,0.857703,4.807329,-0.591831,-4.470272,...,1.264904,1.262046,0.562192,1.063967,2.830899,-3.100902,0.006779,4.323575,1.684567,NaN
3,"3,disease",-0.428979,2.968171,2.739791,1.948644,-1.687813,-1.901850,3.762477,-0.256742,0.881957,...,-3.777476,-2.409324,-3.050097,0.699862,0.207052,0.496514,-0.272459,-0.226792,-0.222921,NaN
4,"4,less",-6.981816,0.013650,-0.873299,0.039917,2.557055,0.938051,3.833177,-1.183074,-4.624080,...,1.584301,1.361204,1.096665,0.561453,2.234805,-3.300663,-0.544018,3.894206,1.768323,NaN
5,"5,treatment",-0.991817,-0.481936,-2.348089,-0.513383,2.789018,-0.999760,2.118043,-3.487755,-0.403127,...,-1.673379,2.449198,0.014733,-0.946959,0.637396,1.163516,-3.151589,-1.462158,-0.924979,NaN
6,"6,group",-2.849103,-0.807993,0.273214,-0.285252,1.328339,0.793613,3.733585,-1.969442,-2.901564,...,-1.312250,3.918459,-0.414282,2.102106,1.928591,-3.238846,-2.669822,1.770770,1.691745,NaN
7,"7,two",1.963108,-0.022526,1.978242,-0.496433,-0.222407,2.401807,-0.194536,0.071939,-0.552632,...,0.292915,1.541989,-1.481354,2.574938,2.831282,-1.328136,0.635793,0.387433,-1.628088,NaN
8,"8,study",1.296604,0.002335,0.880456,-2.507720,-0.141256,-1.581384,1.258660,0.719531,-0.780875,...,-3.328888,-0.950909,-0.267968,0.333522,-0.327286,0.665389,-1.136654,-2.310598,1.664855,NaN
9,"9,may",-4.636498,1.044709,-2.069155,2.338934,0.499289,-1.866674,-0.338477,0.458620,5.323588,...,-1.075507,-5.207242,-0.680858,-2.380121,-3.332225,2.365837,-2.517788,-1.125700,-1.516112,NaN